@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Site criado acompanhando o curso do bootcamp da Avanade CodeAnywhere .NET - curso - Desenvolvimento de aplicações com .NET </p>
    <p>Coloquei no meu github (<a href="https://github.com/rafaelcvargas/code_anywhere">https://github.com/rafaelcvargas/code_anywhere</a>) para fins de estudos.</p>
</div>
